<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="readQuestions" class = "dao.ReadQuestionsCSV">
    </bean>


    <bean id="sendMessage" class = "serice.SendMessageToConsole">
    </bean>


    <bean id="askQuestion" class = "serice.AskQuestionImplementation">
        <constructor-arg name="sendMes" ref="sendMessage"/>
    </bean>

    <bean id="quizRead" class = "serice.Quiz">
        <constructor-arg name="quizRead" ref="readQuestions"/>
    </bean>

    <bean id="quizSend" class = "serice.Quiz">
        <constructor-arg name="quizSend" ref="sendMessage"/>
    </bean>


    <bean id="quizGetQuestion" class = "serice.Quiz">
        <constructor-arg name="quizGetQuestion" ref="askQuestion"/>
    </bean>


</beans>