<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="readQuestions" class = "dao.ReadQuestionsCSV">
    </bean>

    <bean id="sendMessage" class = "service.SendMessageConsole">
    </bean>

    <bean id="askQuestion" class = "service.AskQuestionImpl">
        <constructor-arg name="sendMes" ref="sendMessage"/>
    </bean>

    <bean id="quiz" class = "service.Quiz">
    </bean>

</beans>