<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class = "dao.QuestionDaoCSV">
    </bean>

    <bean id="informationStreamService" class = "service.InformationStreamServiceConsole">
    </bean>

    <bean id="questionService" class = "service.QuestionServiceImpl">
        <constructor-arg name="info" ref="informationStreamService"/>
    </bean>

    <bean id="quiz" class = "service.Quiz">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="infoStream" ref="informationStreamService"/>
        <constructor-arg name="askQuestion" ref="questionService"/>
    </bean>

</beans>